*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    --green: #14b789;
    --violet: #535da1;
    --brown: rgb(137, 66, 54);
    --black: #031500;
    --white: white;
  }
a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

p {
  margin-bottom: 0.3em;
}
p::selection {
  background-color: var(--green);
  color: var(--white);
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
._container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

.page__phrases {
    position: relative;
    z-index: 2;
    padding: 50px 0px 50px 0px;
    max-width: inherit;
  }
  
  .phrases__body {
    display: block;
    padding: 0px auto;
    flex: 0 1 50%;
    margin: auto;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--violet);
  }
  .phrases__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 200px;
    padding: auto;
  }

  .header-block__title::selection,
  .quote__item::selection,
  .phrases__button::selection {
    color: var(--violet);
    background-color: var(--green);
  }
  .phrases__button::selection {
    background-color: var(--green);
    color: var(--violet);
  }
  .phrases__button {
    color: var(--green);
    background-color: var(--violet);
    font-size: inherit;
    padding: 20px 20px;
    text-align: center;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
  }
  .phrases__button:active {
    border: 1px solid var(--green);
  }
  .header-block{
    text-align: center;
    letter-spacing: 0.2px;
  }
  
  .header-block__title{
    font-size: 40px;
    line-height: 140%;
    font-weight: 600;
    color: var(--violet);
    text-align: center;
  }
  .header-block__title > *:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
  .phrases__header {
    margin: 0px 0px 40px 0px;
    }

    .phrases__dynamic,
    .phrases__rus,
    .phrases__latin {
      display: block;
      flex-wrap: wrap;
    }
    .phrases__latin {
      margin-top: 150px;
    }
    .phrases__dynamic {
      margin: 30px auto;
    }

    .quote__item,
    .change-color-item {
       background-color: var(--violet);
      color: var(--green);
      font-size: 20px;
      padding: 20px 20px;
      text-align: center;
      margin: 20px 150px;
      border: 2.5px solid var(--green);
      
    }
    
    .quote__item:hover {
      background-color: var(--violet);
      color: var(--green);
      padding: 20px 20px;
      text-align: center;
      animation: scale 2s linear;
    }
    
    .quote__item-latin {
      margin: 20px 120px;
      pointer-events: none;
      animation: slow 2s linear;
    }
    .quote__item-latin::selection {
      background-color: var(--violet);
      color: var(--green);
    }
.alert__message {
    letter-spacing: 0.2px;
    color: var(--violet);
    text-align: center;
    font-size: 20px;
}
.change-color-item {
     background-color: var(--green);
      color: var(--violet);
      border: 2.5px solid var(--violet);
      transition: all 2s linear;
}
.phrases__background {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  left: 0;
  top:0;
  overflow: hidden;
  width: 100%;
  pointer-events: none;
}
    @keyframes scale {
      0%, 100% {
          transform: scale(1.15);
        }
        50% {
          transform: scale(1.15);
        }
      }

      @keyframes slow {
        0% {
          transform: translate3d(0px, -50px, 0px);
          animation-timing-function: ease-in;
      }
      50% {
          transform: translate3d(0px, 10px, 0px);
          animation-timing-function: ease-out;
      }
      100% {
          transform: translate3d(0px, 0px, 0px);
      }
        }

        @media (max-width:1200px) {
          ._container {
              max-width: 970px;
          }
        }
      @media screen and (max-width: 992px) {
        ._container {
          max-width: 750px;
        }  
      }
      @media (max-width:820px) {
        .phrases__body {
          padding: 0px 50px;
        }
      }
      @media (max-width:768px) {
       .quote__item {
        margin: 20px 50px;
       }
        ._container {
              max-width: none;
          }
      }
     
      @media (max-width: 640px) {
        .header-block__title {
          font-size: 34px;
        }
        .phrases__body,
        .phrases__dynamic {
          flex-wrap: wrap;
          padding: 10px 10px;
          font-size: 18px;
        }
        
      }
    
      @media (max-width:500px) {
        .phrases__buttons {
          margin: 0px 100px;
          padding: auto;
          flex-wrap: wrap;
        }
           .header-block__title {
            font-size: 30px;
          }
          
      }
    
      @media (max-width: 415px) {
        .phrases__button,
        .quote__item {
          font-size: 16px;
        }
        .main-block__title {
          font-size: 30px;
        }
    }
    
      @media (max-width:395px) {
        .quote__item {
          margin: 20px 30px;
         }
    }